.card-container {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 12px;
  max-width: 300px;
  min-width: 300px;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-container:hover {
  transform: scale(2);
}

.movie-poster {
  height: 25em;
  width: auto;
}

/* .movie-poster:hover {
  transform: scale(2);
  border: 2px solid black;
} */

.bottom-card {
  /* border: 2px solid rgb(3, 94, 3); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-text {
  padding: 0;
  margin: 0;
  text-align: center;
}
