.single-movie-container {
  height: 80vh;
  width: auto;
  background-size: cover;
  background-blend-mode: hard-light;
}

/* .black-overlay {
  background-color: black;
  height: 80vh;
  opacity: .75;
} */